html {
  background: black;
  min-height: 100%;
  color: #dadadf;
  font-weight: 100;
  font-family: Helvetica Neue, Segoe UI, sans-serif;
}
.holder {
  position: absolute;
  top: 45%;
  left: 50%;
  margin-top: -300px;
  margin-left: -256px;
}
.kaleido {
  width: 300px;
  height: 172px;
  position: relative;
  transform: rotateZ(0);
  padding-top: 174px;
}
.kaleido:nth-child(3) {
  top: -519px;
  left: 300px;
}

.tile {
  /* 86.6% = ratio of height to width of equilateral triangle */
  -webkit-clip-path: polygon(50% 0,0 86.6%, 100% 86.6%, 50% 0);
  clip-path: url(#polygon);
  height: 200px;
  width: 200px;

  background: url(pics/dino.jpg);
  
  background-size: cover;
  position: absolute;
  transform-origin: top center;
  animation: bgpos 5s infinite;
}

@keyframes bgpos {
  0%,100% {
    background-position: 0 0;
  }
  50% {
    background-position: -80px 80px;
  }
}

.tile:nth-child(1) {

}
.tile:nth-child(2) {
  transform: rotate(60deg) scaleX(-1);
}
.tile:nth-child(3) {
  transform: rotate(120deg);
}
.tile:nth-child(4) {
  transform: rotate(180deg) scaleX(-1);
}
.tile:nth-child(5) {
  transform: rotate(240deg);
}
.tile:nth-child(6) {
  transform: rotate(-60deg) scaleX(-1);
}

.description {
  width: 240px;
  position: absolute;
  right: 20px;
  top: 20px;
  text-align: right;
}
h1 {
  font-weight: 200;
  text-shadow: 1px 0 0 #ccc;
  line-height: 24px;
}

p {
  line-height: 18px;
}

a {
  color: #9a9a9a;
}
